.detailBoard {
  margin-top: 2rem;
  min-height: 30rem;
  width: auto;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  max-width: 70rem;
  padding: 2rem;
  background-color: white;
  border-radius: 1rem;
}

.detailBoardTitle {
  font-size: 2.4rem;
  font-weight: 800;
}

.boardHeaderBottom {
  display: flex;
  justify-content: space-between;
}

.postType {
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  color: white;
  background-color: var(--blue);
  width: fit-content;
  border-radius: 1rem;
}

.writer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.postWriteDate {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
}

.boardImageContainer {
  margin-top: 2rem;
}

.boardImage {
  margin: 0 auto;
  width: 100%;
  max-height: 50rem;
  object-fit: contain;
  background-color: lightgrey;
  border-radius: 1rem;
  border: 1px solid lightgray;
}

.boardDetailContent {
  word-break: break-all;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
}
