.emailContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputTitle {
  margin: 1rem 0;
  font-weight: 600;
  font-size: 1.5rem;
}

.helperText {
  color: #ff0000;
  font-size: 1.2rem;
  font-weight: 400;
  width: 100%;
  justify-content: flex-start;
}

.helperTextContainer {
  margin-top: 0.2rem;
  height: 2rem;
  width: 100%;
}
