.main {
  margin: 1rem auto 0;
  overflow-y: scroll;
  width: 100%;
  max-width: 109rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  min-width: 35rem;
  border-radius: 1rem;
  margin: 0 2rem;
  height: calc(100% - 100px);
  padding-top: 6rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
}
