.updateMain {
  margin: 0 auto;
  max-width: 100rem;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  width: 100%;
  display: flex;
  margin: 0 2rem;
  box-sizing: border-box;
  padding: 4rem;

  border-radius: 1rem;
  flex-direction: column;
  background-color: white;
  gap: 4rem;
}

.pageTitle {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: 'Noto Sans KR', sans-serif;
}

.profileImage {
  width: 3.6rem;
  height: 3.6rem;
  object-fit: cover;
  border-radius: 50%;
}

.profileTitle,
.profileEmail,
.profileNickname {
  display: flex;
  gap: 3rem;
  justify-content: flex-start;
  width: 100%;
}

.imageContainer {
  position: relative;
  width: 15rem;
  height: 15rem;
}

.imageInput {
  display: none;
}

.inputTitle {
  font-size: 1.5rem;
  font-weight: 700;
  width: 16rem;
}

#updateEmailInput {
  display: flex;
  font-size: 1.4rem;
  align-items: center;
}

.imageShow {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.imageNone {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #f4f5f6;
}

.imageUpdate {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.imageUpdateButton {
  cursor: pointer;
  border-radius: 30%;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  font-weight: 700;
}

.nicknameInput {
  width: 20rem;
  padding: 1rem;
  height: 3rem;
  margin: 0;
  border-radius: 1rem;
  background-color: #f4f5f6;
  border: 1px solid lightgray;
  box-sizing: border-box;
}

.profilebutton {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.profileUpdateButton {
  cursor: pointer;
  background-color: var(--light-blue);
  border-radius: 1rem;
  border: 0;
  width: 100%;
  max-width: 34rem;
  margin-top: 3rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 1.4rem;
  font-weight: 700;
}

.profileUpdateButtonDisabled {
  background-color: var(--button-disabled);
  border-radius: 1rem;
  border: 0;
  width: 100%;
  max-width: 34rem;
  margin-top: 3rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 1.4rem;
  font-weight: 700;
}

.profileDeleteButton {
  cursor: pointer;
  color: black;
  background-color: transparent;
  border: 0;
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.updateMessage {
  margin-top: 2rem;
  padding: 1rem 1.5rem;
  background-color: var(--hover-blue);
  color: black;
  font-size: 1.6rem;
  border-radius: 1rem;
}

.profileUpdateButton:hover {
  background-color: var(--hover-blue);
}

.helperText {
  color: #ff0000;
  font-size: 1.2rem;
  font-weight: 400;
  width: 100%;
  justify-content: flex-start;
}

.helperTextContainer {
  margin-top: 0.2rem;
  height: 2rem;
  width: 100%;
}
