/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --button-enabled: #5197ff;
  --button-hover: #e9d200;
  --button-disabled: #d4e4f2;
  --light-green: #b4c8bb;
  --blue: #5197ff;
  --real-blue: #164894;
  --light-blue: #d4e4f2;
  --more-light-blue: #f3f9ff;
  --hover-blue: #dbeeff;
  --light-gray: #f5f5f5;
  --success: #22c55e;
  --info: #3b82f6;
  --warning: #f97316;
  --error: #ef4444;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-size: 62.5%;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  cursor: pointer;
}

body {
  overflow: auto;
  -ms-overflow-style: none;
  height: 100vh;
  margin: 0 auto;
  background: var(--light-gray);
  scrollbar-width: 0.2rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
