.main {
  margin: 1rem auto 2rem;
  width: 100%;
  height: calc(100%- 100px);
  max-width: 109rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  min-width: 35rem;
  border-radius: 1rem;
  margin: 0 2rem;
  height: 100%;
  padding-top: 6rem;
}

.detailPage {
  max-width: 108rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
